.w-json-viewer-tree>ul {
    font-size: 12px;
}

.w-context-menu {
    position: absolute;
    z-index: 99999999;
}

.w-ctx-menu-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    background: #fff;
    min-width: 110px;
    border-radius: 4px;
}

.w-ctx-menu-list label {
    margin: 0 !important;
    /* font-weight: normal !important; */
    display: block;
}

.w-ctx-menu-item:hover .w-ctx-menu-list,
.w-ctx-menu-item:hover .w-ctx-menu-gap {
    display: block;
}

.w-ctx-menu-item:hover .w-ctx-menu-list {
    width: auto;
}

.w-ctx-menu-item {
    display: flex;
    line-height: 30px;
    padding: 0 15px;
    justify-content: space-between;
    position: relative;
    cursor: default;
    white-space: nowrap;
}

.w-ctx-menu-item:hover {
    background: #f1f3f4;
}

.w-ctx-menu-item.item-disabled .w-ctx-menu-item-tt {
    color: #999;
}

.w-ctx-item-sep {
    border-top: 1px solid #ccc;
    margin-top: 5px;
}

.w-ctx-item-disabled {
    color: #999;
}