.delete-pair-icon {
    font-size: 1rem;
    margin-top: 6px;
  }
  
  .panel-header {
    font-weight: 500;
    font-size: 0.8rem;
  }

  .rule-pairs-collapse.ant-collapse {
    margin-bottom: 20px;
  }
  
  .rule-pairs-panel.ant-collapse-item {
    margin-bottom: 1.25rem;
    border-radius: 8px;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 1rem 1.25rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child,
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-expand-icon .anticon {
    margin-right: 32px;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item:not(.ant-collapse-item-active) .ant-collapse-header {
    border-radius: 8px;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-content {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item > .ant-collapse-content .ant-collapse-content-box {
    padding: 1rem 1.25rem;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .rule-pairs-collapse.ant-collapse > .ant-collapse-item:last-child {
    border-radius: 8px;
  }
  
  .headers-rule-pair-card .ant-card-body {
    width: 100%;
    padding: 1rem 0 0 0;
  }
  
  .rule-pairs-collapse .ant-input-wrapper.ant-input-group .ant-input,
  .rule-pairs-collapse .ant-input-wrapper.ant-input-group .ant-input-group-addon {
    font-size: 14px;
  }
  
  .ant-select.ant-select-lg {
    font-size: 14px;
  }
  
  .rule-pairs-panel .modification-type-dropdown {
    text-align: right;
    font-size: 14px;
  }
  
  .rule-pairs-panel .ant-dropdown-trigger.ant-dropdown-link {
    font-size: 14px;
  }
  
  @media (max-width: 1208px) {
    .rule-pairs-panel .modification-type-dropdown {
      text-align: initial;
    }
  }

  .ant-btn.add-pair-btn {
    height: 44px;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 8px;
  }
  
  .ant-btn.add-pair-btn:hover {
    opacity: 0.8;
  }
  
  